<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Demo </title>
</head>
<body>
    

    <p class="level-item">
        <h3 class=level-item>
How to use The bot builder! <br> On the next page you will be greeted With a bot builder, simply enter the command it's looking for and its response. <br>
If you want to take an Arguement (coming soon!), for example " Order " and then some arguement, you can do so by entering  <code >|arg| </code>.
</h3>    </p>
<a href="/index.html" class="level-item"> Build A Bot </a>



</body>
</html>

