<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Demo </title>
</head>
<body>
    

    <p class="level-item">
        Congrats! You have Made you very own bot! Now all you have to do is run it, keep all the files you just made into one folder, and type in "node RUN_ME.js"
        and your done!
    </p>
<a href="/index.html" class="level-item"> Build A Bot </a>



</body>
</html>

